<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
</head>
<body>
    <p> Dear, <%= @couple_nickname %> </p>
    <p>Thankyou for choosing this church to get married. 
    Your chosen date of <%= @wedding_date %> has been sent to a pastor for prayerful consideration.
    We wish you well on your journey on which you are embarking. 
    Please remember that their is no divorce except in cases of adultery in 
    christianity otherwise the divorcing party will be guilty of adultery and God will discipline them severely.</p>
    <p>a pastor will be with you soon. </p>
    <p>Please add the attached calender appointment for your preferred wedding date to your calender.

    Hopefully it can be used to mark your anniversary!
    
    Much love, Carmel City Church International.
    </p>
</body>
    
</html>