<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
</head>
<body>
  <p>
    Dear overseer, a wedding is in need of confirmation.
    You know what to do! You will find the appointment and vcard attached.

    The Couple's Contact Phone is: <%= @wedding_phone %>

    The have included this message:
    <%= @wedding_message %>
  </p>
</body>
</html>