<div class="py-2">
  <div class="container">
    <div class="row">
      <div class="col-md-8 shadow">
        <p class="lead">We are a church based in Peasdown St.John, just outside of Bath <b>and we love Jesus!</b><br></p>
      </div>
      <div class="col-md-4 shadow">

        <h5 class="text-center">Our Doctrines<br><a class="btn btn-light mt-1" href="<%= url_for '/Calvin - Commentaries.pdf' %>" role="button">Click Here</a></h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pt-0">
  <div class="container">
    <div class="row w-12"><iframe width="1280" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-2.4277746677398686%2C51.31516717623475%2C-2.425714731216431%2C51.3163960176409&amp;layer=mapnik&amp;marker=51.315780762824815%2C-2.4267446994781494" style="border: 1px solid black"></iframe><br>
      <large><a class="btn btn-primary" href="https://www.openstreetmap.org/#map=18/51.31584/-2.42744&amp;layers=N">Click here for the full map</a></large>
    </div><a href="https://www.openstreetmap.org/#map=18/51.31584/-2.42744&amp;layers=N">
  </a>
  </div><a href="https://www.openstreetmap.org/#map=18/51.31584/-2.42744&amp;layers=N">
</a>
</div>