<div class="pt-2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="display-1 text-center">Service Times</h1>
        <div class="list-group" style="">
          <a class="list-group-item list-group-item-action active text-center">
            <h2>Sunday</h2><br>
          </a>
          <a class="list-group-item list-group-item-action text-center">
            <h3>Noon</h3>
          </a>
          <a class="list-group-item list-group-item-action text-center">
            <h3>Family Service</h3>
          </a>
        </div>
        <div class="list-group" style="">
          <a class="list-group-item list-group-item-action active text-center">
            <h2>Wednesday</h2>
          </a>
          <a class="list-group-item list-group-item-action text-center">
            <h3>6pm</h3>
          </a>
          <a class="list-group-item list-group-item-action text-center">
            <h3> Prayer &amp; Meditation Service<br></h3>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>