<div class="container">
  <div class="pt-2">
    <div class="container">
      <div class="row">
        <div class="p-5 col-md-6 d-flex flex-column justify-content-center">
          <div class="row">
          <h3 class="display-4 mb-3" style="">Welcome To An Exciting Journey!</h3>
          <p class="mb-4 lead" style="">We believe in one man and one woman for life, and if you believe you want this, then we welcome you to get married in our church in holy matromony!</p>
          </div>
<!--          <div class="row justify-content-center">-->
<!--            <a class="btn btn-light" href="/signup/true" role="button">Get Married!</a>-->
<!--          </div>-->
          </div>
        <div class="p-5 col-md-6" style="" >
          <div class="row">
            <a title="Jeff Belmonte from Cuiabá, Brazil, CC BY 2.0 &lt;https://creativecommons.org/licenses/by/2.0&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Wedding_rings.jpg"><img class="rounded" width="512" alt="Wedding rings" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Wedding_rings.jpg/512px-Wedding_rings.jpg"></a>
          </div>
        </div>
      </div>
      <div class="container pt-0">
      <div class="row py-3">
        <div class="col-2"></div>
        <div class="col-8 text-center justify-content-center">
          <form action="/request-wedding" method="post" class="form">
            <div class="form-row">
            <div class="col">
              <label for="wedding-email"> Correspondence Email </label><br>
              <input id="wedding-email" required="required" class="form-control text-center" type="email" placeholder="Your Correspondence Email Here:"><br>
              <label for="wedding-phone"> Contact Phone Number </label><br>
              <input id="wedding-phone" class="form-control text-center" type="tel" placeholder="Your Correspondence phone Here:" required="required"><br>
            </div>
            <div class="col">
              <label for="wedding-date">Proposed Wedding Date</label><br>
              <input id="wedding-date" class="form-control text-center" type="date" required="required"><br>
              <label for="wedding-date">Proposed Wedding Time - 24 hour notation</label><br>
              <input id="wedding-time" class="form-control text-center" type="time" value="12:00" required="required"><br>
            </div>
            </div>
            <label for="wedding-message text-center">What you want at this wedding:</label><br>
            <textarea id="wedding-message" class="form-control text-center" name="wedding-message" cols="5"></textarea><br><br>
            <input type="submit" class="form-control btn-light">
          </form>
        </div>
        </div>
        <div class="col-2"></div>
      </div>
      </div>
    </div>
  </div>
</div>