<div class="container">
  <div class="pt-2">
    <div class="container">
      <div class="row">
        <div class="p-5 col-md-6 d-flex flex-column justify-content-center">
          <div class="row">
          <h3 class="display-4 mb-3" style="">Welcome To An Exciting Journey!</h3>
          <p class="mb-4 lead" style="">We believe in one man and one woman for life, and if you believe you want this, then we welcome you to get married in our church in holy matromony!</p>
          </div>
          <div class="row justify-content-center">
            <a class="btn btn-light" href="<% url_for controller: :user,action: :signup,params: {wedding:true} %>" role="button">Get Married!</a>
          </div>
          </div>
        <div class="p-5 col-md-6" style="" >
          <div class="row">
            <a title="Jeff Belmonte from Cuiabá, Brazil, CC BY 2.0 &lt;https://creativecommons.org/licenses/by/2.0&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Wedding_rings.jpg"><img class="rounded" width="512" alt="Wedding rings" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Wedding_rings.jpg/512px-Wedding_rings.jpg"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
