<div class="container">
  <div class="col-4">
    <div class="row">

    </div>
  </div>
  <div class="col-8">
    <div class="row">

    </div>
  </div>
  <div class="row">
    <div class="col-8">

    </div>
    <div class="col-4">
      <button class="btn btn-light" href="<% url_for controller: :wedding,action: :new %>">Get Married!</button>
    </div>
  </div>

</div>